
/* ================================
   SECCIONES GENERALES
================================ */
.nosotros,
.beneficios,
.servicios {
  padding: 60px 0;
  text-align: center;
  /* background: radial-gradient(circle, #aed6dc, #3692bd);*/
}

.lista-beneficios {
  max-width: 600px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  line-height: 2;
}

/* SERVICES CARDS */
.service-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  margin: 20px 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}

.servicios .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 60px 0;
}

.service-card:hover {
  transform: translateY(-6px);
}


/* GRID solo para las tarjetas */
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

/* Tamaño del card más chico */
.service-card {
  background: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 20px;
}
