/* ================================
   HERO SECTION
================================ */
.hero-section {
  padding: 80px 0;
  text-align: center;
  /*background: radial-gradient(circle, #aed6dc, #3692bd);*/
}

h2 {
  font-size: 30px;
  font-weight: 800;
  color: #003F5C;
  text-align: center;
}

.subtitulo {
  max-width: 700px;
  margin: 20px auto;
  font-size: 18px;
  text-align: center;
  /* centra el texto */
  line-height: 1.6;
  /* mejor lectura */
}

.elegirnos1 {
  color: black;
  text-align: center;
  font-size: 18px;
  list-style: none;
  padding-left: 0;
  margin-left: 0; 
}

